<h1>Règles</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Nom</th>
    <th scope="col">Montant</th>
    <th scope="col">Cat&eacute;gorie</th>
    <th scope="col">Ss. Cat.</th>
    <th scope="col">Destinataire</th>
    <th scope="col">Commentaire</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let rule of rules">
    <td>
      <app-cell-edit [value]="rule.name"></app-cell-edit>
    </td>
    <td>
      <app-cell-edit [value]="rule.amount"></app-cell-edit>
    </td>
    <td>
      <app-cell-edit [value]="rule.category"></app-cell-edit>
    </td>
    <td>
      <app-cell-edit [value]="rule.subcategory"></app-cell-edit>
    </td>
    <td>
      <app-cell-edit [value]="rule.recipient"></app-cell-edit>
    </td>
    <td>
      <app-cell-edit [value]="rule.comment"></app-cell-edit>
    </td>
  </tr>
  </tbody>
</table>
