body {
    font-family: 'Oxygen' !important;
    padding-top: 60px;
}

.navbar-brand {
    color: #ffffff !important;
}

.nav-pills {
    font-size: 16px;
}

[ng-cloak], .ng-cloak {
    display: none !important;
}

.ng-hide {
    display: none !important;
}

.no-margin-top {
    margin-top: 0 !important;
}

.no-margin-top > h2 {
    margin-top: 0 !important;
}

