<h1>{{totalOperation()}} Opération<span *ngIf="totalOperation()>1">s</span></h1>


<input class="form-control" [(ngModel)]="query">

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Date</th>
    <th scope="col">Nom</th>
    <th scope="col">Montant</th>
    <th scope="col">Cat&eacute;gorie</th>
    <th scope="col">Ss. Cat.</th>
    <th scope="col">Destinataire</th>
    <th scope="col">Commentaire</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let operation of getOperations()">
    <td>
      <app-cell-edit [editableValue]="operation.creationDate | date:'dd/MM/yyyy'"></app-cell-edit>
    </td>
    <td>
      <app-cell-edit [editableValue]="operation.name"
                     (valueClicked)="updateName($event,operation)"></app-cell-edit>
    </td>
    <td>
      <app-cell-edit [editableValue]="operation.amount"></app-cell-edit>
    </td>
    <td>
      <app-cell-edit [editableValue]="operation.category"></app-cell-edit>
    </td>
    <td>
      <app-cell-edit [editableValue]="operation.subcategory"></app-cell-edit>
    </td>
    <td>
      <app-cell-edit [editableValue]="operation.recipient"></app-cell-edit>
    </td>
    <td>
      <app-cell-edit [editableValue]="operation.comment"></app-cell-edit>
    </td>
  </tr>
  </tbody>
</table>
