<div class="col-md-3" ng-show="display">
    <ul class="lead nav nav-pills">
        <li ng-repeat="year in years" role="presentation" ng-class="checkYear(year)"><a ng-href="#/operations/{{year}}"><h4>{{year}}</h4></a></li>
    </ul>
</div>
<div class="col-md-9"  ng-show="display">
    <ul class="lead nav nav-pills">
        <li ng-class="checkAllYear()"><a
                ng-href="#/operations/{{year}}">TOUT</a></li>
        <li ng-repeat="month in months" ng-class="checkMonth(month)"><a
                ng-href="#/operations/{{year}}/{{month+1}}">{{displayMonth(month)}}</a>
        </li>
    </ul>
</div>