body {
    font-family: 'Oxygen' !important;
    padding-top: 60px;
}

.navbar-brand {
    color: #ffffff !important;
}

.nav-pills {
    font-size: 16px;
}

[ng-cloak], .ng-cloak {
    display: none !important;
}

.ng-hide {
    display: none !important;
}

.no-margin-top {
    margin-top: 0 !important;
}

.no-margin-top > h2 {
    margin-top: 0 !important;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

